<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/javaschool</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1qazxsw@</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="de.telekom.school.persistence.CitiesPO"/>
        <mapping class="de.telekom.school.persistence.CityMapPO"/>
        <mapping class="de.telekom.school.persistence.CargoStatusPO"/>
        <mapping class="de.telekom.school.persistence.DriverStatusPO"/>
        <mapping class="de.telekom.school.persistence.TruckStatusPO"/>
        <!--<mapping class="de.telekom.school.persistence.CargoPO"/>
        <mapping class="de.telekom.school.persistence.DriverPO"/>
        <mapping class="de.telekom.school.persistence.OrderPO"/>
        <mapping class="de.telekom.school.persistence.RoutePointsPO"/>
        <mapping class="de.telekom.school.persistence.TruckPO"/>
         -->
    </session-factory>
</hibernate-configuration>